<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Updates</title>
  <link rel="stylesheet" href="static/css/index.css">

  </head>
  <body style="background-color:rgb(51, 144, 238)">
    <header>
      <div class="container">
        <h1>NeighborHood Updates</h1>

      </div>

      <nav>
        <ul>
<li><a href="/accounts/register/"</a>Register</li>
  <li><a href="/accounts/ogin/?next=//"</a>Sign in</li>


        </ul>

      <nav>

    </header>
    <section>

      <div class="container">

        <h1>Posts</h1>
        <p>In publishing and graphic design, lorem ipsum is a placeholder text used to demonstrate the visual </p>
      </div>
    </section>


  <footer>
    <p>Footer</p>
  </footer>
  </body>
</html>
